.div1 {
    border: 1px solid black;
    min-height: 200px;
    display: flex;
    flex-direction: row;

    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
}
.div1 * {
    margin: 10px;
}

.subdiv {
    border: 1px solid green;
    height: 80px;
    width: 80px;
}

.div2  {
    border: 1px solid black;
    min-height: 200px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.subdiv2 {
    margin: 10px;
    border: 1px solid green;
    height: 80px;
    width: 80px;
}
.logo {
    display: flex;
    justify-content:left;
    height: 200px;
} 
.div3 {
    border: 1px solid black;
    min-height: 200px;
    margin-top: 10px;
    display: flex;
}

.subdiv3 {
    width: 80px;
    height: 80px;
    border: 1px solid green;
    margin: 10px;
    display: flex;
    justify-content:center; align-items: center;
}