/* Reseta margens e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Carrossel Container */
.carrossel {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin: auto;
}

/* Carrossel Container */
.carrossel-container {
  display: flex;
  transition: transform 0.5s ease; /* Efeito suave de transição */
}

.carrossel-item {
  flex: 0 0 100%; /* Cada item ocupa 100% da tela */
}

.carrossel img {
  width: 100%;
  height: auto;
}

/* Botões de navegação */
button {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  transform: translateY(-50%);
}

button.prev {
  left: 10px;
}

button.next {
  right: 10px;
}

button:focus {
  outline: none;
}
  