header {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
}

.nome-empresa {
    background-color: red;
}

.nav-lista {
    background-color: blue;
    flex-grow: 1;
    display: flex;
    justify-content:right;
}
.logo {
    height: 100px; /* ajuste conforme necessário */
    margin-right: 50px;
    width: 200px;
}

       
h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
    border:1px solid black;
}

.lista-ul {
    border: 1px solid black;
    display: flex;
    list-style-type: none;
    padding: 10px;
    background-color: aqua;
}
.lista-ul li {
    border: 1px;
    margin: 10px;
    background-color: red;
    cursor: pointer;
    transition: 0.3s;   
}
.lista-ul li:hover {
    color: green;
}