main{
display: flex;
justify-content: center;
}

.conteudo {
    border: 1px solid black ;
    max-width: 1400px;
    flex-grow: 1;
    padding: 40px;
}

.conteudo-aparelhos {
    min-height: 50px;
    display: flex;

}

.itens-aparelhos {
    min-height: 25px;
    width: 100px;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    
}

.computador {
    width: 15px;
    display: flex;
}