body {
    margin: 0px;
    font-family: "google Sans", Roboto,Arial,sans-serif;
    color: rgb(70, 70, 70);
}

.borda {
    border: 1px solid black;
}

.header {
    display: flex;
}

.header-logo {
    min-height: 30px;
    width: 200px;
    display: flex;
    justify-content: center;
}
.header-logo img {
    width: 130px;
    height: 50px;
    margin-top: 25px;
}

.header-navegacao {
    min-height: 30px;
    flex-grow: 1;
}
.header-navegacao ul {
    list-style-type: none;
    display: flex;
    margin-top: 30px;
}

.aba-ativa {
    color: green;
    border-bottom: 2px solid green;
}
.header-navegacao ul li {
    margin: 10px;
    cursor: pointer;
    transition: 300ms;
    height: 40px;
}

.header-navegacao ul li:hover{
    color: green;
}

.header-acoes {
    flex-grow: 1;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content:right;
}

.header-acoes input {
    width: 350px;
    height: 25px;
    border-radius: 25px;
    border: solid gray;
}
.header-acoes img {
    margin-right: 15px;
    width: 35px;
    height: 30px;
}
.img-lupa {
   cursor: pointer;
    position:relative;
    margin-left: -40px;
    
}
.img-ajuda {
    /* margin-left: -45px; */
}
