body {
    margin: 0px;
    font-family: "google Sans", Roboto,Arial,sans-serif;
    color: rgb(70, 70, 70);
}

.borda {
    border: 1px solid black;
    min-height: 40px;
}

.header {
    display: flex;
}

.header-logo {
    min-height: 30px;
    width: 200px;
    display: flex;
    justify-content: center;
}
.header-logo img {
    width: 160px;
}

.header-navegacao {
    min-height: 30px;
    flex-grow: 1;
}
.header-navegacao ul {
    list-style-type: none;
    display: flex;
    margin-top: 30px;
}
.header-navegacao ul li {
    margin: 10px;
    cursor: pointer;
}

.header-acoes {
    flex-grow: 1;
    min-height: 30px;
    display: flex;
    align-items: center;
    justify-content:right;
}

.header-acoes input {
    width: 350px;
    height: 35px;
    border-radius: 25px;
    border: solid gray;
}
.header-acoes img {
    margin-right: 15px;
    width: 30px;
    height: 30px;
}
.img-lupa {
   cursor: pointer;
    position: relative;
    margin-left: -40px;
    
}
.img-ajuda {
    /* margin-left: -45px; */
}