.borda {
    border: 1px solid rgb(0, 0, 0);

}

.formulario {
 padding: 15px;       
 /* serve para dar espaço da borda */
}

.input {
    height: 35px;
    width: 200px;
}

button {
    background-color: rgb(197, 197, 236);
}

.classe-h1{
    color: green;
}
#id-h1{
    color: red;
}